<section style="background-image: url('assets/images/bg.jpg');  " >
  <header>
    <div class="logosec">
      <div class="logo">

        <span style="color:#FF0000;font-family: cursive;">M</span>
    <span style="color:#070707;font-family: cursive;">A</span>
    <span style="color:#FF0000;font-family: cursive;">N</span>
    <span style="color:#070707;font-family: cursive;">S</span>
    
      </div>
      <!-- <img src="assets/images/logo.png" class="icn menuicn" id="menuicn" alt="menu-icon"> -->
    </div>
    
    <div class="dp">

      <img src="assets/images/Users.png" class="dpicn" alt="dp" height="50" width="40">

    </div>
  </header>
  <div class="main-container">
    <div class="navcontainer">
      <nav class="nav">
        <div class="nav-upper-options">
          <div class="nav-option option1">
            <a routerLink="/admin/home">
              
              <h3 style="margin-left: 20px;font-family: cursive;">Dashboard</h3>
            </a>
          </div>
          <div class="option2 nav-option">
            <a routerLink="/admin/customer/viewcustomer">
             
              <h3 style="margin-right: 20px;font-family: cursive">Show Customer</h3>
            </a>
          </div>
          <div class="nav-option option3">
            <a routerLink="/admin/order/allorders">
              
              <h3 style="margin-right: 20px;font-family: cursive">Show Order</h3>
            </a>
          </div>
          <div class="nav-option option4">
            <a routerLink="/admin/payment/allpayment">
              
              <h3 style="margin-right: 20px;font-family: cursive">Show Payments</h3>
            </a>
          </div>
          <div class="nav-option option5">
            <a routerLink="/admin/product">
              
              <h3 style="margin-right: 20px;font-family: cursive">Show Products</h3>
            </a>
          </div>
          <div class="nav-option option6">
            <a routerLink="/admin/login">
              <img src="assets/images/logout.png" class="nav-img" alt="logout">
              <h3 style="margin-left: 20px;font-family: cursive" (click)="logout()">Logout</h3>
            </a>
          </div>
        </div>
      </nav>
    </div>
    

    <div class="main">
      <h1 style="padding-left: 390px;font-family: cursive">Welcome Admin</h1>
    
      <br>
      <!-- <div class="box-container">
        <div class="box box1"style="background-color:#e42255">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/customer/viewcustomer" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Customer</h2>
            </a>
          </div>
          
        </div>
        <div class="box box2"style="background-color:#e42255">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/order/allorders" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Order</h2>
            </a>
          </div>
          
        </div>
        <div class="box box3"style="background-color:#e42255">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/product" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Product</h2>
            </a>
          </div>
         
        </div>
        <div class="box box4"style="background-color:#e42255">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/payment/allpayment" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Payments</h2>
            </a>
          </div>
           -->
        <!-- </div>
      </div> -->

    </div>